<div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/admin" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="/assets/images/earth-icon.svg" alt="Logo">
        <span class="fs-4">GeoGuesSUUU</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Formulaires
            </a>
            <ul class="dropdown-menu">
                <li> <a class="dropdown-item" href="#">Item</a></li>
                <li> <a class="dropdown-item" href="#">User</a></li>
                <li> <a class="dropdown-item" href="#">Country</a></li>
                <li> <a class="dropdown-item" href="#">Region</a></li>
                <li> <a class="dropdown-item" href="#">City</a></li>
                <li> <a class="dropdown-item" href="#">Score</a></li>
                <li> <a class="dropdown-item" href="#">Level</a></li>
                <li> <a class="dropdown-item" href="#">Game</a></li>
            </ul>
        </li>

{#        <div class="dropdown">#}
{#            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                Dropdown button#}
{#            </button>#}
{#            <ul class="dropdown-menu">#}
{#                <li><a class="dropdown-item" href="#">Action</a></li>#}
{#                <li><a class="dropdown-item" href="#">Another action</a></li>#}
{#                <li><a class="dropdown-item" href="#">Something else here</a></li>#}
{#            </ul>#}
{#        </div>#}


    </ul>
</div>