<div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/admin" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="/assets/images/earth-icon.svg" alt="Logo">
        <span class="fs-4">GeoGuesSUUU</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Item</a></li>
        <li class="nav-item"><a href="#" class="nav-link">User</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Country</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Region</a></li>
        <li class="nav-item"><a href="#" class="nav-link">City</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Score</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Level</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Game</a></li>
    </ul>
</div>