<div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/admin" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="/assets/img/earth-icon.svg" alt="Logo">
        <span class="fs-4">GeoGuesSUUU</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/admin" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Formulaires
            </a>
            <ul class="dropdown-menu">
                <li> <a class="dropdown-item" href="/admin/item/type">Item</a></li>
                <li> <a class="dropdown-item" href="/admin/user">User</a></li>
                <li> <a class="dropdown-item" href="/admin/country">Country</a></li>
                <li> <a class="dropdown-item" href="/admin/region">Region</a></li>
                <li> <a class="dropdown-item" href="/admin/city">City</a></li>
                <li> <a class="dropdown-item" href="/admin/score">Score</a></li>
                <li> <a class="dropdown-item" href="/admin/level">Level</a></li>
                <li> <a class="dropdown-item" href="/admin/game">Game</a></li>
            </ul>
        </li>
    </ul>
</div>