<form method="post" action="{{ path('app_country_delete', {'id': country.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ country.id) }}">
    <button class="btn">Delete</button>
</form>
