{% extends 'base.html.twig' %}

{% block title %}Edit Level{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center w-75 mx-auto">

        <h1>Edit Level</h1>

        {{ include('level/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('level/_delete_form.html.twig') }}

        <a class="btn btn-primary mt-3" href="{{ path('app_level_index') }}">Back to list of levels</a>

    </div>
{% endblock %}
