<form method="post" action="{{ path('app_item_type_add_items') }}" enctype="multipart/form-data" class="mb-3">
    <div class="input-group mb-3">
        <input type="file" class="form-control" name="file" required accept=".tsv">
        <button type="submit" class="input-group-text btn btn-success">Send file</button>
    </div>
</form>