{% extends 'base.html.twig' %}

{% block title %}Edit Item{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center w-75 mx-auto">

        <h1>Edit Item</h1>

        {{ include('item_type/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('item_type/_delete_form.html.twig') }}

        <a class="btn btn-primary mt-3" href="{{ path('app_item_type_index') }}">back to list</a>

    </div>
{% endblock %}
