{% extends 'base.html.twig' %}

{% block title %}New Item{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center w-75 mx-auto">
        <h1>Create new Item</h1>

        {{ include('item_type/_form.html.twig') }}

        <a class="btn btn-primary" href="{{ path('app_item_type_index') }}">Back to list of items</a>
    </div>
{% endblock %}
