{% extends 'base.html.twig' %}

{% block title %}Admin part{% endblock %}

{% block body %}
<div class="admin-page">
    <img src="/assets/img/earth-icon.svg" alt="Logo" class="rotating">
    <h1>Welcome to the game administrator area !</h1>
    <p> you will be able to <strong>Modify</strong> / <strong>Add</strong> / <strong>Delete</strong> different elements of the game such as items, users, etc...
        <br>
        You also have the possibility to see the items currently in game !</p>
</div>
{% endblock %}
