{% extends 'base.html.twig' %}

{% block title %}Admin part{% endblock %}

{% block body %}
<div class="admin-page">
    <img src="/assets/img/earth-icon.svg" alt="Logo" class="rotating">
    <h1>Bienvenu dans la partie des administrateurs du jeu !</h1>
    <p>Vous pourrez ici <strong>Modifié</strong> / <strong>Ajouté</strong> / <strong>Supprimé</strong> différents éléments du jeu tel que les items, les utilisateurs, etc...
        <br>
    Vous avez aussi la possibilité de voir les éléments actuellement  en jeu !</p>
</div>
{% endblock %}
