{% extends 'base.html.twig' %}

{% block title %}Edit Score{% endblock %}

{% block body %}
    <h1>Edit Score</h1>

    {{ include('score/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_score_index') }}">back to list</a>

    {{ include('score/_delete_form.html.twig') }}
{% endblock %}
