{% extends 'base.html.twig' %}

{% block title %}Edit Region{% endblock %}

{% block body %}
    <h1>Edit Region</h1>

    {{ include('region/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_region_index') }}">back to list</a>

    {{ include('region/_delete_form.html.twig') }}
{% endblock %}
