{% extends 'base.html.twig' %}

{% block title %}New Region{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center w-75 mx-auto">

        <h1>Create new Region</h1>

        {{ include('region/_form.html.twig') }}

        <a class="btn btn-primary" href="{{ path('app_region_index') }}">Back to list of regions</a>
    </div>
{% endblock %}
